<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coupon</title>
  </head>
  <body>
    <h1><%= @coupon.coupon_code %></h1>
    <h1><%= @coupon.store %></h1>
    <%= link_to "Return to Coupons", coupons_path %>
  </body>
</html>
